:root {
  --text-color: #806bb4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #19191c;
  font-size: 2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.done {
  text-decoration: line-through;
}

#page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

.title {
  font-weight: 500;
  font-size: 2em;
  color: #efefef;
  padding: 50px 0px;
}

.todo-container {
  display: flex;
  color: #efefef;
  gap: 3%;
}

.add-list,
#todo-list {
  background-color: #1f1e22;
  height: 700px;
  border-radius: 40px;
  padding: 40px;
}

.add-list {
  width: 30%;
}

#todo-list {
  width: 65%;
}

.list-header {
  display: flex;
  color: var(--text-color);
  justify-content: space-between;
  font-weight: 500;
}

.show-add-list {
  color: white;
  background-color: #806bb4;
  width: 1.25em;
  height: 1.25em;
  border-radius: 12px;
}

.add-tasks {
  font-size: 22px;
  position: absolute;
  top: 785px;
  left: 1315px;
  height: 50px;
  width: 150px;
  color: white;
  background-color: #7102b7;
  border-radius: 25px;
}

.hover-pointer {
  cursor: pointer;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.task-input {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 785px;
  left: 800px;
  height: 50px;
  width: 625px;
  font-size: 22px;
  padding-left: 20px;
  color: black;
  background-color: white;
  border-radius: 25px;
}
