* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #19191c;
  font-size: 2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.done {
  text-decoration: line-through;
}

#page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

.title {
  font-weight: 500;
  font-size: 2em;
  color: #efefef;
  padding: 50px 0px;
}

.todo-container {
  display: flex;
  color: #efefef;
  gap: 3%;
}

.add-list,
#todo-list {
  background-color: #1f1e22;
  height: 700px;
  border-radius: 40px;
  padding: 40 px;
}

.add-list {
  width: 30%;
}

#todo-list {
  width: 65%;
}
